@import "tailwindcss";
  @keyframes fade-in {
    to { opacity: 1; transform: translateY(0); }
  }
  .animate-fade-in {
    animation: fade-in 1s ease forwards;
    transform: translateY(20px);
    opacity: 0;
  }
  html {
    scroll-behavior: smooth;
  }

  #typewriter::after {
    content: "|";
    animation: blink 1s infinite;
  }

  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }

  @keyframes wave {
    0%, 60%, 100% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-8px);
    }
  }
  
  .animate-wave {
    animation: wave 1s infinite ease-in-out;
    display: inline-block;
  }
  
  .delay-0 {
    animation-delay: 0s;
  }
  
  .delay-150 {
    animation-delay: 0.15s;
  }
  
  .delay-300 {
    animation-delay: 0.3s;
  }
  
  

  